.vote-box-back{
    position: absolute;
width: 23%;
height: 100%;
left: 60%;
top: 0%;

background: #FCFCFC;
box-shadow: 15px 0px 15px rgba(142, 142, 142, 0.23), -15px 0px 15px rgba(142, 142, 142, 0.23);
}
.vote-box1{
    position: absolute;
    width: 80%;
    height: 11%;
    left: 10%;
    top: 11%;

    background: #6C63FF;
    border-radius: 5%;
}
.all-vote-box
{
    
    width: 50%; 
     margin: 0 auto;

   
}