@charset "utf-8";

.Logo {
    position: absolute;
    width: 89px;
    height: 60px;
    left: 1198px;
    top: 0px;

    font-family: Spoqa Han Sans Neo;
    font-style: normal;
    font-weight: normal;
    font-size: 48px;
    line-height: 60px;
    /* identical to box height */


    color: #000000;


    z-index: 1;
}
Img.Group-45 {
    position: absolute;
    width: 318px;
    height: 125px;
    left: 327px;
    top: 511px;
  }

.Line1{
    position: absolute;
width: 496px;
height: 0px;
left: 1002px;
top: 55px;
z-index: 1;
border: 1px solid #3F3D56;
}

.Back {
    position: absolute;
    width: 570px;
    height: 1132px;
    left: 960px;
    top: -52px;

    background: #FFFFFF;
    box-shadow: 15px 0px 15px rgba(142, 142, 142, 0.23), -15px 0px 15px rgba(142, 142, 142, 0.23);
}

.Vote_Back {

    position: absolute;
    width: 494px;
    height: 911px;
    left: 998px;
    top: 79px;

    background: #6C63FF;
    border-radius: 20px;
}

.Tap-bar-back {
    position: absolute;
    width: 570px;
    height: 56px;
    left: 960px;
    top: 1028px;
    border-radius: 40px 40px 0 0;
    background: #3F3D56;
    z-index: 2;

}

.Tap-bar-name1 {
    position: absolute;
    width: 100x;
    height: 0px;
    left: 1207px;
    top: 1044px;

    font-family: Spoqa Han Sans Neo;
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    line-height: 23px;
    /* identical to box height */

    background-color: #3F3D56;
    color: #C0C0C0;

    z-index: 3;
}

.Tap-bar-name2 {
    position: absolute;
    width: 50px;
    height: 23px;
    left: 1418px;
    top: 1044px;

    font-family: Spoqa Han Sans Neo;
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    line-height: 23px;
    /* identical to box height */


    color: #C0C0C0;
    z-index: 3;
}

.Tap-bar-name3 {
    position: absolute;
    width: 83px;
    height: 23px;
    left: 1021px;
    top: 1044px;

    font-family: Spoqa Han Sans Neo;
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    line-height: 23px;
    /* identical to box height */

    z-index: 3;
    color: #C0C0C0;
}