.back{
    position: absolute;
    width: 570px;
    height: 1132px;
    left: 960px;
    top: -52px;
    
    background: #FFFFFF;
    box-shadow: 15px 0px 15px rgba(142, 142, 142, 0.23), -15px 0px 15px rgba(142, 142, 142, 0.23);
}