@charset "utf-8";

/*더모먼트 png*/
/*Div {
  width: 1920px;
  height: 1080px;
  flex-grow: 0;
  background-color: rgb(255, 255, 255);
}
*/

.Filter {

  position: absolute;
  width: 43px;
  height: 32px;
  left: 1012px;
  top: 54px;


}

.Phone-Logo {

  position: absolute;
  width: 89px;
  height: 60px;
  left: 1198px;
  top: 0px;

  font-family: Spoqa Han Sans Neo;
  font-style: normal;
  font-weight: normal;
  font-size: 48px;
  line-height: 60px;
  z-index: 5;
  /* identical to box height */


  color: #000000;
}

.Back-Logo {
  /* 로고 */


  position: absolute;
  width: 89px;
  height: 60px;
  left: 440px;
  top: 371px;

  font-family: Spoqa Han Sans Neo;
  font-style: normal;
  font-weight: normal;
  font-size: 48px;
  line-height: 60px;
  /* identical to box height */


  color: #000000;
}


/*undraw img*/
Img.Group-45 {
  position: absolute;
  width: 318px;
  height: 125px;
  left: 327px;
  top: 511px;
}

.Rectangle-1 {



  position: absolute;
  width: 570px;
  height: 1080px;
  left: 960px;
  top: 0px;

  background: #FFFFFF;
  box-shadow: 15px 0px 15px rgba(142, 142, 142, 0.23), -15px 0px 15px rgba(142, 142, 142, 0.23);
}

.Undraw_Gardening_eaf3-1-1 {

  position: absolute;
  width: 146px;
  height: 156px;
  left: 146px;
  top: 924px;
  
  background: url('undraw_Gardening_eaf3 (1).png');
  transform: matrix(-1, 0, 0, 1, 0, 0);
  /*왼쪽 식물 이미지*/

}

.Undraw_Gardening_eaf3-1-2 {
  position: absolute;
  width: 175px;
  height: 137px;
  left: 785px;
  top: 943px;
  
  background: url('undraw_Gardening_eaf3 (1).png');
}
.Undraw_Gardening_eaf3-1-3
{
  position: absolute;
width: 412px;
height: 275px;
left: 1530px;
top: 804px;

background: url('undraw_mobile_user_7oqo.png');
}

/*선*/
.Line-1 {
  position: absolute;
  width: 469px;
  height: 0px;
  left: 1008px;
  top: 55px;

  border: 1px solid #3F3D56;
}


.Line-3 {


  position: absolute;
  width: 496px;
  height: 0px;
  left: 238px;
  top: 458px;

  border: 1px solid #3F3D56;
}

.Line-4 {
  position: absolute;
  width: 170px;
  height: 0px;
  left: 1011px;
  top: 125.75px;
  z-index: 2;
  border: 1px solid #FFFFFF;
}

.Line-6 {
  position: absolute;
  width: 170px;
  height: 0px;
  left: 1016px;
  top: 286.75px;
  z-index: 2;
  border: 1px solid #FFFFFF;
}

.Line-7 {
  position: absolute;
  width: 170px;
  height: 0px;
  left: 1012px;
  top: 444.75px;

  border: 1px solid #FFFFFF;
  z-index: 2;
}

.End-Line1 {
  position: absolute;
  width: 170px;
  height: 0px;
  left: 1011px;
  top: 769.75px;

  border: 1px solid #C9C9C9;

  z-index: 2;
}

/*투표 게시물*/


.Rectangle-9 {

  position: absolute;
  width: 494px;
  height: 135px;
  left: 996px;
  top: 247px;

  background: #928CFF;
  border-radius: 20px;
}

.Rectangle-10 {

  position: absolute;
  width: 494px;
  height: 135px;
  left: 996px;
  top: 86px;


  border-radius: 20px;
  background-color: #6c63ff;
  z-index: 1;
}

.Rectangle-11 {
  position: absolute;
  width: 494px;
  height: 135px;
  left: 996px;
  top: 408px;

  background: #746BFE;
  border-radius: 20px;
}

.Rectangle-12 {
  position: absolute;
  width: 494px;
  height: 135px;
  left: 996px;
  top: 569px;

  background: #4C42E2;
  border-radius: 20px;
}

.End-Rectangle-back1 {
  position: absolute;
  width: 494px;
  height: 135px;
  left: 995px;
  top: 730px;

  background: #313131;
  border-radius: 20px;
}

.End-Rectangle-back2 {
  position: absolute;
  width: 494px;
  height: 135px;
  left: 996px;
  top: 891px;

  background: #313131;
  border-radius: 20px;
}

/* 제목*/
.Voting-Title {
  position: absolute;
  width: 148px;
  height: 23px;
  left: 1020px;
  top: 98px;

  font-family: Spoqa Han Sans Neo;
  font-style: normal;
  font-weight: bold;
  font-size: 18px;
  line-height: 23px;
  /* identical to box height */

  z-index: 2;
  color: #FFFFFF;

}

.Contents {
  position: absolute;
  width: 451px;
  height: 54px;
  left: 1015px;
  top: 132px;

  font-family: Spoqa Han Sans Neo;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 18px;

  color: #DEDEDE;
  z-index: 2;
}

.Rectangle-18 {
  position: absolute;
  width: 437px;
  height: 23px;
  left: 1022px;
  top: 186px;

  background: rgba(172, 167, 255, 0.84);
  border-radius: 2222px;
  z-index: 3;
}

.Rectangle-19 {
  position: absolute;
  width: 176px;
  height: 23px;
  left: 1022px;
  top: 186px;

  background: rgba(255, 255, 255, 0.7);
  border-radius: 2222px;
  z-index: 4;
}

.Time-Remaining1 {
  position: absolute;
  width: 52px;
  height: 15px;
  left: 1038px;
  top: 190px;

  font-family: Spoqa Han Sans Neo;
  font-style: normal;
  font-weight: bold;
  font-size: 12px;
  line-height: 15px;
  /* identical to box height */


  color: rgba(0, 0, 0, 0.7);
  z-index: 5;
}

.Voting-Title2 {
  position: absolute;
  width: 148px;
  height: 23px;
  left: 1025px;
  top: 259px;

  font-family: Spoqa Han Sans Neo;
  font-style: normal;
  font-weight: bold;
  font-size: 18px;
  line-height: 23px;
  /* identical to box height */


  color: #FFFFFF;
}

.Contents2 {
  position: absolute;
  width: 451px;
  height: 54px;
  left: 1020px;
  top: 293px;

  font-family: Spoqa Han Sans Neo;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 18px;

  color: #DEDEDE;

  z-index: 2;
}

.Rectangle-20 {
  position: absolute;
  width: 437px;
  height: 23px;
  left: 1027px;
  top: 347px;

  background: rgba(255, 255, 255, 0.38);
  border-radius: 2222px;
  z-index: 3;
}

.Rectangle-21 {
  position: absolute;
  width: 234px;
  height: 23px;
  left: 1027px;
  top: 347px;

  background: rgba(255, 255, 255, 0.9);
  border-radius: 2222px;
  z-index: 4;
}

.Time-Remaining2 {
  position: absolute;
  width: 59px;
  height: 15px;
  left: 1043px;
  top: 351px;

  font-family: Spoqa Han Sans Neo;
  font-style: normal;
  font-weight: bold;
  font-size: 12px;
  line-height: 15px;
  /* identical to box height */


  color: rgba(0, 0, 0, 0.7);
  z-index: 5;
}


.Voting-Title3 {
  position: absolute;
  width: 148px;
  height: 23px;
  left: 1021px;
  top: 417px;

  font-family: Spoqa Han Sans Neo;
  font-style: normal;
  font-weight: bold;
  font-size: 18px;
  line-height: 23px;
  /* identical to box height */


  color: #FFFFFF;

}

.Contents3 {
  position: absolute;
  width: 451px;
  height: 54px;
  left: 1016px;
  top: 451px;

  font-family: Spoqa Han Sans Neo;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 18px;

  z-index: 2;
  color: #FFFFFF;
}

.Rectangle-22 {
  position: absolute;
  width: 437px;
  height: 23px;
  left: 1023px;
  top: 505px;

  background: #A29CFF;
  border-radius: 2222px;
  z-index: 3;
}

.Rectangle-23 {
  position: absolute;
  width: 288px;
  height: 23px;
  left: 1023px;
  top: 505px;

  background: rgba(255, 255, 255, 0.7);
  border-radius: 2222px;
  z-index: 4;
}

.Time-Remaining3 {
  position: absolute;
  width: 59px;
  height: 15px;
  left: 1039px;
  top: 509px;

  font-family: Spoqa Han Sans Neo;
  font-style: normal;
  font-weight: bold;
  font-size: 12px;
  line-height: 15px;
  /* identical to box height */


  color: rgba(0, 0, 0, 0.7);

  z-index: 5;
}

.Voting-Title4 {
  position: absolute;
  width: 148px;
  height: 23px;
  left: 1024px;
  top: 581px;

  font-family: Spoqa Han Sans Neo;
  font-style: normal;
  font-weight: bold;
  font-size: 18px;
  line-height: 23px;

  /* identical to box height */


  color: #FFFFFF;

}

.Contents4 {
  position: absolute;
  width: 451px;
  height: 54px;
  left: 1019px;
  top: 615px;

  font-family: Spoqa Han Sans Neo;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 18px;

  color: #DEDEDE;
}

.Rectangle-24 {
  position: absolute;
  width: 437px;
  height: 23px;
  left: 1026px;
  top: 669px;

  background: rgba(155, 149, 237, 0.84);
  border-radius: 2222px;
  z-index: 3;
}

.Rectangle-25 {
  position: absolute;
  width: 288px;
  height: 23px;
  left: 1026px;
  top: 669px;

  background: #E2E1FA;
  border-radius: 2222px;
  z-index: 4;
}

.Time-Remaining4 {
  position: absolute;
  width: 59px;
  height: 15px;
  left: 1042px;
  top: 673px;

  font-family: Spoqa Han Sans Neo;
  font-style: normal;
  font-weight: bold;
  font-size: 12px;
  line-height: 15px;
  /* identical to box height */


  color: rgba(0, 0, 0, 0.7);
  z-index: 5;
}

.End-Voting-Title1 {
  position: absolute;
  width: 148px;
  height: 23px;
  left: 1020px;
  top: 742px;

  font-family: Spoqa Han Sans Neo;
  font-style: normal;
  font-weight: bold;
  font-size: 18px;
  line-height: 23px;
  z-index: 2;
  /* identical to box height */


  color: #C9C9C9;
}

.End-Contents1 {
  position: absolute;
  width: 451px;
  height: 54px;
  left: 1015px;
  top: 776px;

  font-family: Spoqa Han Sans Neo;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 18px;
  z-index: 2;
  color: rgba(222, 222, 222, 0.7);
}

.End-Rectangle1 {

  position: absolute;
  width: 437px;
  height: 23px;
  left: 1022px;
  top: 830px;

  background: rgba(203, 202, 202, 0.84);
  border-radius: 2222px;
  z-index: 1;
}

.End-Time-Remaining1 {
  position: absolute;
  width: 84px;
  height: 15px;
  left: 1038px;
  top: 834px;

  font-family: Spoqa Han Sans Neo;
  font-style: normal;
  font-weight: bold;
  font-size: 12px;
  line-height: 15px;
  /* identical to box height */
  z-index: 2;

  color: rgba(0, 0, 0, 0.7);
}

.End-Voting-Title2 {
  position: absolute;
width: 148px;
height: 23px;
left: 1021px;
top: 903px;

font-family: Spoqa Han Sans Neo;
font-style: normal;
font-weight: bold;
font-size: 18px;
line-height: 23px;
/* identical to box height */


color: #C9C9C9;


  color: #C9C9C9;
}

.End-Contents2 {
  position: absolute;
  width: 451px;
  height: 54px;
  left: 1016px;
  top: 937px;
  
  font-family: Spoqa Han Sans Neo;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 18px;
  
  color: rgba(222, 222, 222, 0.7);
  
}

.End-Rectangle2 {

  position: absolute;
  width: 437px;
  height: 23px;
  left: 1023px;
  top: 991px;
  
  background: rgba(203, 202, 202, 0.84);
  border-radius: 2222px;
}

.End-Time-Remaining2 {
  position: absolute;
  width: 84px;
  height: 15px;
  left: 1039px;
  top: 995px;
  
  font-family: Spoqa Han Sans Neo;
  font-style: normal;
  font-weight: bold;
  font-size: 12px;
  line-height: 15px;
  /* identical to box height */
  
  
  color: rgba(0, 0, 0, 0.7);
  
}